<section id="contactUs" class="contact-parlex">
  <div class="parlex-back">
    <div class="container">
      <div class="row">
        <div class="heading text-center">
          <!-- Heading -->
          <h2>Contact Us</h2>
          <p>Don't hesitant!  Feel free to contact with us. We alway higher apprecitate about that!</p>
        </div>
      </div>
      <div class="row mrgn30">
          <div class="col-sm-7">
            <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d3724.5069908148935!2d105.8609367642662!3d21.012390693714295!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1zVVAgQ293b3JraW5nIFNwYWNlLCBU4bqnbmcgOCwgdMOyYSBuaMOgIEhhbm9pIENyZWF0aXZlIENpdHksIDEgTMawxqFuZyBZw6puLCBIw6AgTuG7mWksIFZp4buHdCBOYW0!5e0!3m2!1svi!2s!4v1476411019953" width="600" height="650" frameborder="0" style="border:0" allowfullscreen></iframe>
          </div>
         <div class="col-sm-5">
           <div class="item date"><span class="icon"><i class="fa fa-calendar fa-3x"></i></span><div class="summary"><div class="title">October 09, 2016</div><p>8-week course, 2 hour sessions 7-9pm on Sun/Tue</p></div></div>
           <div class="item format"><span class="icon"><i class="fa fa-map-marker fa-3x"></i></span><div class="summary"><div class="title">UP Coworking Space</div><p>Tầng 8, tòa nhà Hanoi Creative City, 1 Lương Yên, Hà Nội</p></div></div>
         </div>


      </div>
    </div>
    <!--/.container-->
  </div>
</section>
