<div class="thanks" style="padding: 4rem">
  <div class="container">
    <div class="row">
      <h3>Thanks for your order !</h3>
      <p>Please check email to recheck information !</p>
      <%= link_to "Home page", root_path %>
      <strong>_ Trung Manucian _</strong>
    </div>
  </div>
</div>
