   <section id="work" class="page-section page">
    <div class="container text-center">
      <div class="heading">
        <h2>Dishes</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa, alias enim placeat earum quos ab.</p>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div id="portfolio">
            <%= render 'partials/menu' %>
            <ul class="items list-unstyled clearfix animated fadeInRight showing" data-animation="fadeInRight" style="position: relative; height: 438px;">
              <%= render @food_items %>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
